html, button, input, select, textarea,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
.page-title {
    margin-bottom: 30px;
    text-align: center;
}
.suggestion {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.suggestion-author {
    font-weight: bold;
}
.trip-step {
    padding-bottom: 50px;
}