html, button, input, select, textarea, body {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
body {
    padding-top: 15px;
    padding-bottom: 30px;
}
google-map {
    display: block;
    height: 450px;
}
.page-intro {
    margin-bottom: 30px;
    text-align: center;
}
.empty-suggestion {
    font-size: 18px;
}
.suggestion {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.suggestion-author {
    font-weight: bold;
}
.trip-step {
    padding-bottom: 50px;
}
.trip-separator {
    margin-top: 0;
}
.footer {
    font-size: 13px;
    text-align: center;
}
.footer .fa-heart {
    color: #C0392B;
}
.footer .fa-github {
    color: #000;
}
.fa-spin {
    -webkit-animation: spin 1.1s infinite linear;
    -moz-animation: spin 1.1s infinite linear;
    -o-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 25px, 0);
        -ms-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
